* {
    box-sizing: border-box;
}

.navbar {
    background-color: aliceblue;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: flex;
    flex-direction: row;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar-nav a {
    margin-left: 1cm !important;
    margin-right: 1cm !important ;
    font-size: 30px !important;
    color: black !important;
}
.navbar-nav a:hover {
    color: rgb(91, 78, 138) !important;
}

@media screen and (max-width:992px) {
    .navbar-nav {
        flex-direction: column;
    }
}
.tabela {
    border-collapse: collapse;

    margin: 25px auto auto auto;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.tabela thead tr {
    background-color: #003598;
    color: #ffffff;
    text-align: left;
}

.tabela th,
.tabela td {
    padding: 12px 15px;
}

.tabela tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabela tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabela tbody tr:last-of-type {
    border-bottom: 2px solid #003598;
}

.izmeni {
    background-color: #fd5a5a;
    font-size: 0.9em;
    font-family: sans-serif;
    border-style: none;
    border-radius: 10px;
    color: whitesmoke;
}
